public-hoist-pattern[]=*gatsby*
public-hoist-pattern[]=prop-types
public-hoist-pattern[]=query-string
public-hoist-pattern[]=mitt
public-hoist-pattern[]=lodash
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=react
