// 글로벌 스타일 필요하면 추가해주세요!
:root {
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.logo-tilt-warp {
  font-family: 'Tilt Warp', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    'XROT' 0,
    'YROT' 0;
}
